* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos del body*/
body {
  font-family: Arial, sans-serif;
  background-color: #c7c0f0;
  padding: 40px;
  display: flex;
  justify-content: center;
}

/* Estilos del contenedor */
.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilo del titulo */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Estilo del input  y button*/
.task-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-input input {
  flex: 1;
  padding: 10px;
  border: 3px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.task-input button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-input button:hover {
  background-color: #45a049;
}

/* Estilo a la lista de tareas */
#lista-tareas {
  list-style: none;
}

#iista-tareas li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.item-contenido {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.item-contenido span {
  flex-grow: 1;
}

.eliminar {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 5px;

}

#lista-tareas li button:hover {
  background-color: #c0392b;
}


