body {
    background-color: bisque;
    text-align: center;
}

.subtitulo {
    color: blue;
}
#miElemento {
    color: brown;
}

.miParrafo {
    color: chocolate;
}

.crearDiv {
    background-color: aquamarine;
    border: 2px solid black;
    margin: 40px;
}